<ngx-smart-modal #myModal identifier="myModal" (onAnyCloseEvent)="onDismiss()">
  <div *ngIf="!isViewMode">
    <form [formGroup]="modalForm">
      <input type="hidden" formControlName="id" />
      <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" formControlName="city" placeholder="">
        <div *ngIf="submitted && modalForm.controls.city.errors" class="has-error">
          <div *ngIf="modalForm.controls.city.errors.required" style="color:red">City is required <i style="color:red"
              class="fas fa-exclamation-circle"></i></div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Price</label>
        <input type="number" class="form-control" formControlName="price" placeholder="">
        <div *ngIf="submitted && modalForm.controls.price.errors" class="has-error">
          <div *ngIf="modalForm.controls.price.errors.required" style="color:red">Price is required
            <i style="color:red" class="fas fa-exclamation-circle"></i></div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Status</label>
        <select class="form-control" formControlName="status">
          <option *ngFor="let item of statusList" [selected]="modalForm.controls.status.value == item">
            {{item}}</option>
        </select>
        <div *ngIf="submitted && modalForm.controls.status.errors" class="has-error">
          <div *ngIf="modalForm.controls.status.errors.required" style="color:red">Status is required
            <i style="color:red" class="fas fa-exclamation-circle"></i></div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Start Date</label>
        <input type="date" class="form-control" #startDateVal max="endDateVal.value" formControlName="startDate"
          placeholder="">
        <div *ngIf="submitted && modalForm.controls.startDate.errors" class="has-error">
          <div *ngIf="modalForm.controls.startDate.errors.required" style="color:red">Start date is required
            <i style="color:red" class="fas fa-exclamation-circle"></i></div>
        </div>
      </div>
      <div class="form-group">
        <label for="">End Date</label>
        <input type="date" #endDateVal min="startDateVal.value" class="form-control" formControlName="endDate"
          placeholder="">
        <div *ngIf="submitted && modalForm.controls.endDate.errors" class="has-error">
          <div *ngIf="modalForm.controls.endDate.errors.required" style="color:red">End date is required
            <i style="color:red" class="fas fa-exclamation-circle"></i></div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Color</label>
        <input class="form-control" type="text" formControlName="color" placeholder="">
        <div *ngIf="submitted && modalForm.controls.color.errors" class="has-error">
          <div *ngIf="modalForm.controls.color.errors.required" style="color:red">Color is required
            <i style="color:red" class="fas fa-exclamation-circle"></i></div>
        </div>
      </div>
    </form>
    <button class="btn btn-primary float-left" *ngIf="myModal.hasData()" (click)="updateItem()"><i
        class="far fa-save"></i> Update</button>
    <button class="btn btn-success float-left" *ngIf="!myModal.hasData()" (click)="addItem()"><i
        class="fas fa-plus"></i>
      Add</button>
    <button class="btn btn-default float-right" (click)="closeModal()">Close</button>
  </div>
  <div *ngIf="isViewMode && isViewModeData">
    <div class="container">
      <table class="table table-striped">
        <tr>
          <td>City</td>
          <td>{{isViewModeData.city}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{isViewModeData.price}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{isViewModeData.status}}</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>{{isViewModeData.color}}</td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>{{isViewModeData.startDate | date: 'yyyy/MM/dd'}}</td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>{{isViewModeData.endDate | date: 'yyyy/MM/dd'}}</td>
        </tr>
      </table>
      <button class="btn btn-default float-right" (click)="closeModal()">Close</button>
    </div>
  </div>
</ngx-smart-modal>