<!-- **city**, **start date**, **end date**, **price**, **status**, **color** -->
<app-header></app-header>
<popupmodal [dataList]="dataList"></popupmodal>
<div class="container" *ngIf="dataList">
  <div class="row col-md-10 float-left" style="padding-bottom:4px;padding-top:6px;">
    <div class="col-md-4">
      <input type="text" style="z-index:9999" [locale]="{applyLabel: 'Enter', format: 'YYYY-DD-MM'}" readonly
        placeholder="StartDate => EndDate" ngxDaterangepickerMd [(ngModel)]="selectedDate" class="form-control" />
    </div>
    <button class="btn btn-primary ml-2" (click)="search()"><i class="fas fa-search"></i> Search</button>
    <button class="btn btn-default ml-2" id="reset" (click)="resetSearch()"><i class="fas fa-redo"></i> Reset</button>
    <button class="btn btn-success ml-2" (click)="modal.openAddModal()"><i class="fas fa-plus-circle"></i> Add</button>
    <button class="btn btn-default ml-2" (click)="data.switchTheme()"><i class="fas fas fa-toggle-off"></i>
      {{data.themeLabel}}</button>
  </div>
  <div class="container table-responsive">
    <table class="table table-hover" [class.table-dark]="data.isDarkMode">
      <thead style="cursor:pointer">
        <th>#</th>
        <th>Id</th>
        <th (click)="sort('city')">City <i class="fas fa-sort float-right"></i></th>
        <th (click)="sort('startDate')">Start date <i class="fas fa-sort float-right"></i></th>
        <th (click)="sort('endDate')">End date <i class="fas fa-sort float-right"></i></th>
        <th (click)="sort('price')">Price <i class="fas fa-sort float-right"></i></th>
        <th (click)="sort('status')">Status <i class="fas fa-sort float-right"></i></th>
        <th (click)="sort('color')">Color <i class="fas fa-sort float-right"></i></th>
        <th>Action</th>
      </thead>
      <tbody *ngFor="let item of dataList.data; index as i">
        <tr>
          <td>{{i +  1}}</td>
          <td>{{item.id}}</td>
          <td>{{item.city}}</td>
          <td>{{item.startDate | date:'yyyy/MM/dd'}}</td>
          <td>{{item.endDate | date:'yyyy/MM/dd'}}</td>
          <td>{{item.price}}</td>
          <td>{{item.status}}</td>
          <td>{{item.color}}</td>
          <td>
            <i class="fas fa-trash px-2" style="color:red;cursor: pointer" title="Delete"
              (click)="modal.delete(item.id)"></i>
            <i class="fas fa-edit px-2" style="color:blue;cursor: pointer" title="Edit"
              (click)="modal.edit(item.id)"></i>
            <i class="far fa-file px-2" style="color:indianred;cursor: pointer" title="View"
              (click)="modal.view(item.id)"></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!dataList.data">
        <tr style="text-align:center">
          <td colspan="8">
            <span>No record found for selected date range</span>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table" *ngIf="dataList.data">
      <tr>
        <td>
          
          <div class="row mx-auto float-right">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item" [ngClass]="{'disabled': (dataList.prePage == null)?true:false}">
                  <a class="page-link" (click)="gotoPreviousPage()" href="javascript:void(0)" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">{{dataList.page}}</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Of</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">{{dataList.totalPages}}</a></li>
                <li class="page-item" [ngClass]="{'disabled': (dataList.nextPage == null)?true:false}">
                  <a class="page-link" (click)="gotoNextPage()" href="javascript:void(0)">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>