<!--The content below is only a placeholder and can be replaced.-->

<!-- **city**, **start date**, **end date**, **price**, **status**, **color** -->
<app-header></app-header>
<div class="container">
  <div class="row col-md-8 float-left" style="padding-bottom:4px;padding-top:6px;">
    <input id="startDate" value="" width="200" type="text" #start_date
      (click)="update_date_pro(start_date.value,'start_date')" readonly placeholder="Start Date" class="px-2" />
    <input id="endDate" width="200" type="text" #end_date (click)="update_date_pro(end_date.value,'end_date')"
      placeholder="End Date" readonly class="ml-2" />
    <button class="btn btn-primary ml-2" (click)="search()">Search</button>
    <button class="btn btn-default ml-2" id="reset" (click)="reset_search()">Reset</button>
  </div>
  <table class="table table-hover">
    <thead style="cursor:pointer">
      <th>#</th>
      <th (click)="sort('city')">City <i class="fas fa-sort float-right"></i></th>
      <th (click)="sort('start_date')">Start date <i class="fas fa-sort float-right"></i></th>
      <th (click)="sort('end_date')">End date <i class="fas fa-sort float-right"></i></th>
      <th (click)="sort('price')">Price <i class="fas fa-sort float-right"></i></th>
      <th (click)="sort('status')">Status <i class="fas fa-sort float-right"></i></th>
      <th (click)="sort('color')">Color <i class="fas fa-sort float-right"></i></th>
    </thead>
    <tbody *ngFor="let item of data_list.data; index as i">
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.city}}</td>
        <td>{{item.start_date}}</td>
        <td>{{item.end_date}}</td>
        <td>{{item.price}}</td>
        <td>{{item.status}}</td>
        <td>{{item.color}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <tr>
      <td>
        <div class="row mx-auto float-right">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item" [ngClass]="{'disabled': (data_list.pre_page == null)?true:false}">
                <a class="page-link" (click)="previou_page()" href="javascript:void(0)" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">{{data_list.page}}</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">Of</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">{{data_list.total_pages}}</a></li>
              <li class="page-item" [ngClass]="{'disabled': (data_list.next_page == null)?true:false}">
                <a class="page-link" (click)="next_page()" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>